body {
  line-height: 1.4;
  color: #005050;
  background: #f4f4f4;
}

.visually-hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.button {
  border: 1px solid transparent;
  transition: border-color 250ms linear;
  outline: 0;
}

.button:not([disabled]):active,
.button:not([disabled]):focus,
.button:not([disabled]):hover {
  cursor: pointer;
  border-bottom-color: #005050;
}

.action-button {
  box-sizing: content-box;
  border: 2px solid transparent;
  display: block;
  background-color: #007070;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
  font-size: 0;
  outline: 0;
  cursor: pointer;
}

.action-button:focus {
  opacity: 1;
  border: 2px solid #00ffff;
}
