.book {
  width: 140px;
}

.book__title,
.book__authors {
  font-size: 0.8em;
}

.book__title {
  font-weight: 400;
  margin: 10px 0 0;
}

.book__authors {
  color: #999;
}

.book__cover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #eee;
  width: 128px;
  height: 193px;
  background-size: cover;
  background-position: center;

  /* the placeholder text */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  text-transform: uppercase;
  color: #a4a4a4;
}
