.Book {
  width: 160px;
  text-align: center;
}

.Book__Cover {
  margin: 0 auto;
  width: 130px;
  height: 200px;
  background-color: #f4f4f4;
  background-size: cover;
  background-position: center;

  /* the placeholder text */
  color: #a4a4a4;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 10px;
}

.Book__Title {
  font-size: 13px;
  margin-bottom: 0.3em;
}

.Book__Authors {
  font-size: 12px;
}
