.ErrorMessage {
  background: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin: 10px 0;
  position: relative;
  transition: opacity 500ms linear;
}

.ErrorMessage[data-fading='true'] {
  opacity: 0;
}


.ErrorMessage__Text {
  padding: 8px 4px 8px 8px;
  flex-grow: 1;
}

.ErrorMessage__CloseButton {
  width: 22px;
  height: 22px;
  flex-shrink: 0;
  font-size: 0;
  position: relative;
  margin: 2px 2px 0 0;
}

.ErrorMessage__CloseButton::before,
.ErrorMessage__CloseButton::after {
  background: #005050;
  content: '';
  display: block;
  width: 1px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.ErrorMessage__CloseButton::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.ErrorMessage__CloseButton::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
