.HomePage__Header {
  background: #007070;
  color: #fff;
  font-size: 26px;
  text-align: center;
  padding: 10px 0;
}

.HomePage__Content {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1340px;
}

.HomePage__SearchButtonWrapper {
  position: fixed;
  right: 25px;
  bottom: 25px;
}

.HomePage__SearchButton {
  background-image: url(./icons/add.svg);
  background-size: 28px;
  width: 50px;
  height: 50px;
  opacity: 0.6;
  transition: opacity 300ms ease-in-out;
}

.HomePage__SearchButton:hover {
  opacity: 1;
}
