.ShelfChanger {
  position: relative;
  text-align: left;
}

.ShelfChanger__Select {
  width: 130px;
  position: absolute;
  z-index: 10;
  left: 0;
  transform: scale(0);
  transition: transform 200ms linear;
}

.ShelfChanger[data-is-open='true'] .ShelfChanger__Select {
  transform: none;
}
