.ShelfChanger {
  position: relative;
  text-align: left;
}

.ShelfChanger__Select {
  width: 130px;
  position: absolute;
  z-index: 10;
  left: 0;
  transform: scale(0);
  transition: transform 200ms linear;
}

.ShelfChanger__Select[data-position-y='top'] {
  top: 0;
  transform-origin: top left;
}

.ShelfChanger__Select[data-position-y='bottom'] {
  bottom: 0;
  transform-origin: bottom left;
}

.ShelfChanger[data-is-open='true'] .ShelfChanger__Select {
  transform: none;
}
